#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-Black-False)
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-Sunset-Blaze);
}


#bgInitial {
  background-image: url('../src/assets/img/initial-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes TextEntry {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }

}

@keyframes BookEntry {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }

}

@keyframes ModulesTitleEntry {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }

}

@keyframes ModuleElementEntry {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: rotate3d(1, 1, 0, 65deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: rotate3d(0, 0, 0);
  }

}

@keyframes CurseForMeTitle {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: translate(500px);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: translate(0);
  }

}

@keyframes LucasPhoto {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: translate(500px);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: translate(0);
  }

}

@keyframes TeachPageText {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: translate(-300px);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: translate(0);
  }

}

@keyframes TeachPageTitle {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: translate(-800px);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: translate(0);
  }

}

@keyframes CurseForMeParagraph {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: translate(-500px);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: translate(0);
  }

}

@keyframes RespElement {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: translate(0px, 500px);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: translate(0, 0);
  }

}

@keyframes CurseForMeFinalText {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }

}

@keyframes BenefitElement {
  from {
    opacity: 0;
    transform: scale(0.5);
    transform: rotate3d(0, 1, 1, 56deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
    transform: rotate3d(0, 0, 0);
  }

}

@keyframes GenericText {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }

}

@keyframes NotConvincedTitle {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }

}


.AboutCurseText {
  animation: TextEntry linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.CurseForMeTitle {
  animation: CurseForMeTitle linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.CurseForMeParagraph {
  animation: CurseForMeParagraph linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.RespElement {
  animation: RespElement linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.CurseForMeFinalText {
  animation: CurseForMeFinalText linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.Book {
  animation: BookEntry linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.ModulesTitle {
  animation: ModulesTitleEntry linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.ModuleElement {
  animation: ModuleElementEntry linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.BenefitElement {
  animation: BenefitElement linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}

.GenericText {
  animation: GenericText linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}

.NotConvincedTitle {
  animation: NotConvincedTitle linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}

.LucasPhoto {
  animation: LucasPhoto linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.TeachPageTitle {
  animation: TeachPageTitle linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.TeachPageText {
  animation: TeachPageText linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}