@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
    /* FONTS */
    --font-Inter: "Inter", sans-serif;
    --font-Inria: "Inria Sans", sans-serif;
    /* COLORS */
    --color-Sunset-Blaze: #F96C00;
    --color-Golden-Ember: #F99C39;
    --color-White-90: #F9F9F9;
    --color-White-80: #F3F3F3;
    --color-Black-False: #242425;
    --color-Life-Green: #4FE047;
    --color-Green-Azuled: #12982B;
    --color-Etern-Blue: #0D335B;
    --color-Cysney: #1C6CC1;
    /* ANIMATIONS */
    --animate-OuTSide: OuTSide 1.5s ease-in-out infinite;
}



@keyframes OuTSide {

    0%,
    100% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
    }

}